@{
    ViewData["Title"] = "Creacion de Pizarra Nueva";
}

<h1>Crear Nueva Pizarra</h1>

<form asp-controller="Pizarra" asp-action="Crear" method="post">

    <button type="submit" class="btn btn-primary">Crear Pizarra</button>
</form>
