@{
    ViewData["Title"] = "Creacion de Pizarra Nueva";
}

<h1>Crear Nueva Pizarra</h1>

<form asp-controller="Pizarra" asp-action="Crear" method="post">
    <input type ="text" name="nombre" class="form-control mb-3" placeholder="Nombre de la Pizarra" required />
    <button type="submit" class="btn btn-primary">Crear Pizarra</button>
</form>
