@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizarraColaborativa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PizarraColaborativa.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @{
            var nombreUsuario = User.Identity.IsAuthenticated ? User.Identity.Name : null;
        }
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PizarraColaborativa</a>

        <nav class ="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @if (User.Identity.IsAuthenticated)
            {
                <span class="me-3">Hola, @nombreUsuario!</span>
                <form asp-controller="Cuenta" asp-action="Logout" method="post" class="d-inline">
                    <button type="submit" class="btn btn-outline-danger btn-sm">Cerrar sesión</button>
                </form>
            }
            else
            {
                <a class="btn btn-outline-primary btn-sm" asp-controller="Cuenta" asp-action="Login">Iniciar sesión</a>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PizarraColaborativa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
